{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}LA漏洞库{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<!-- /.modal -->

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
          <div class="navbar-header col-md-4 " >
			<ul class="nav navbar-nav">
               <li><img src="{{url_for('static',filename='logo.jpg')}}"></li>
			<li><a class="navbar-brand" herf="/">  LA漏洞库</a></li>
               </ul>
		</div>
		<div class="navbar-collapse collapse col-md-5">
			 <ul class="nav navbar-nav">
				<li><a href="{{url_for('main.index')}}">首页</a></li>
				<li class="dropdown">
                		<a href="{{url_for('main.vulninfo')}}"
                             class="dropdown-toggle" data-toggle="dropdown" >
                			漏洞信息 <span class="caret"></span>
                		</a>
                		<ul class="dropdown-menu">
                              <li><a href="{{url_for('main.vulninfo')}}" >
                			漏洞信息浏览 </a></li>
                			<li><a href="{{url_for('main.vulninfoinsert')}}">漏洞信息录入</a></li>      
                              {% if current_user.is_administrator()  %}  
                                <li><a href="{{ url_for('main.vulndbmgmt') }}">漏洞库管理</a></li> 
                              {% endif %}                                    			             			
                			<li class="divider"></li>
                			<li><a href="#">爬虫测试</a></li>   
                		</ul>
                    </li>
				<li><a href="{{url_for('main.post')}}">技术文章</a></li>
				<li><a href="/vulinfo">交流论坛</a></li>
                    <!--leo Test start-->
                    <li class="dropdown">
                		<a href="{{url_for('main.index')}}"
                             class="dropdown-toggle" data-toggle="dropdown" href="#">
                			TEST <span class="caret"></span>
                		</a>
                		<ul class="dropdown-menu">
                			<li><a href="{{url_for('main.cncpe')}}">Cncpe</a></li>  
                              <li><a href="{{url_for('main.vulnref')}}">Vulnref</a></li> 
                              <li><a href="{{url_for('main.vulntype')}}">Vulntype</a></li>  
                              <li><a href="{{url_for('main.vulnseverity')}}">Vulnseverity</a></li> 
                              <li><a href="{{url_for('main.vulninfo')}}">Vulninformation</a></li>               			
                			<li class="divider"></li>
                			<li><a href="#">爬虫测试</a></li>   
                		</ul>
                    </li>
                    <!--Test end-->            
			</ul>
			
		</div>
        <div class="navbar-collapse collapse col-md-3 navbar-right">				
			<ul class="nav navbar-nav navbar-right"> 
				{% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.user',username=current_user.user_name) }}">欢迎您，{{ current_user.user_name }}</a></li> 
				<li><a href="{{ url_for('auth.logout') }}">  退出</a></li> 
				{% else %}
                	<li><a  href="{{ url_for('auth.register')}}"><span class="glyphicon glyphicon-user"></span>注册</a></li> 
                	<li><a   href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span>登录</a></li> 
				{% endif %}
            	</ul> 		
    	  </div> 
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
	<div class ="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	{% block page_content %}{% endblock %}
</div>
{% endblock %}
{{ super() }}


