{% include 'head.html' %}


<link rel="stylesheet" href="{{ url_for('static', filename='seebug.css') }}">
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>漏洞精选 <a class="more" href="/main/topics">More</a> </h2>
				<ul>
					{% for topic in topics %}
					<li>
						<a href={{topic.herf}} class="title" target="_blank">{{topic.title}}</a>
						<div class="des">
							{{topic.des}}
						</div>
					</li>				
					{% endfor %}
				</ul>
			</section>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>高危预警<a class="more" href="/vuldb/news">More</a></h2>
				<ul>
					{% for new in news %}
					<li class="item">
						<a href={{new.herf}} class="title">
							<span class="tag">{{new.title}}</span>
							{{new.des}}
						</a>
					</li>
					{% endfor %}
								
				</ul>
			</section>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section class="index-section">
				<!--sebug 统计 begin-->
				<div class="sebug-statistic " style="padding-top: 20px;">
					<div class="clearfix">
						<dl>
							<dt><i class="sebug-icon icon-bug"></i><br>漏洞数</dt>
							<dd><b>{{ vuls_counter }}100</b> </dd>
						</dl>
						<dl>
							<dt><i class="fa fa-rocket"></i><br>PoC 数</dt>
							<dd><b>{{ pocs_counter }}50</b> </dd>
						</dl>
						<dl>
							<dt><i class="sebug-icon icon-rmb"></i><br>技术文章</dt>
							<dd><b>{{ paidcash_sum }}20</b></dd>
						</dl>
						<dl>
							<dt><i class="fa fa-database"></i><br>论坛热帖</dt>
							<dd><b>{{ someother_sum }}30</b> </dd>
						</dl>
					</div>
				</div>
				

			</section>
		</div>
	</div>
    <!--row 2-->
    <div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>国家认证产品 <a class="more" href="/main/topics">More</a> </h2>
				<ul>
					{% for topic in topics %}
					<li>
						<a href={{topic.herf}} class="title" target="_blank">{{topic.title}}</a>
						<div class="des">
							{{topic.des}}
						</div>
					</li>				
					{% endfor %}
				</ul>
			</section>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>军队认证产品<a class="more" href="/vuldb/news">More</a></h2>
				<ul>
					{% for new in news %}
					<li class="item">
						<a href={{new.herf}} class="title">
							<span class="tag">{{new.title}}</span>
							{{new.des}}
						</a>
					</li>
					{% endfor %}
								
				</ul>
			</section>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>热点技术文章<a class="more" href="/vuldb/news">More</a></h2>
				<ul>
					{% for new in news %}
					<li class="item">
						<a href={{new.herf}} class="title">
							<span class="tag">{{new.title}}</span>
							{{new.des}}
						</a>
					</li>
					{% endfor %}
								
				</ul>
			</section>
		</div>
	</div>
     <!--row 3-->
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>重大安全事件 <a class="more" href="/main/topics">More</a> </h2>
				<ul>
					{% for topic in topics %}
					<li>
						<a href={{topic.herf}} class="title" target="_blank">{{topic.title}}</a>
						<div class="des">
							{{topic.des}}
						</div>
					</li>				
					{% endfor %}
				</ul>
			</section>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>网络安全竞赛<a class="more" href="/vuldb/news">More</a></h2>
				<ul>
					{% for new in news %}
					<li class="item">
						<a href={{new.herf}} class="title">
							<span class="tag">{{new.title}}</span>
							{{new.des}}
						</a>
					</li>
					{% endfor %}
								
				</ul>
			</section>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<section>
				<h2>网络攻防论坛<a class="more" href="/vuldb/news">More</a></h2>
				<ul>
					{% for new in news %}
					<li class="item">
						<a href={{new.herf}} class="title">
							<span class="tag">{{new.title}}</span>
							{{new.des}}
						</a>
					</li>
					{% endfor %}
								
				</ul>
			</section>
		</div>
	</div>
    
</div>
